.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-tertiary);
    background-color: var(--bg-login);
    width: 30%;
    border-radius: 0.5rem;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 3% 2% 3%;
}

#login-container {
    aspect-ratio: 1 / 1.08;
}

#signup-container {
    aspect-ratio: 1 / 1.40;
}


.auth-form {
    display: contents;
}

.auth-container::-webkit-scrollbar {
    display: none;
}

.auth-title {
    color: var(--text-tertiary);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.auth-disclaimer {
    text-align: center;
    align-content: center;
    font-size: 0.75rem;
    width: fit-content;
}

.disclaimer-container {
    display: flex;
}

.disclaimer-checkbox {
    width: 4%;
    margin: 0;

}

.forgot-password-link {
    text-align: right;
    font-size: 0.8rem;
    text-decoration: none;
}

.primary-button {
    background-color: var(--login-signup-primary);
    height: 8%;
}

.primary-link {
    color: var(--text-primary); 
    text-decoration: none;
    width: 100%;
    height: 100%;   
    display: inline-block;
    align-content: center;
}

.secondary-button { 
    background-color: transparent;
    color: var(--login-signup-primary);
}

.secondary-link {
    text-decoration: none;
}

.input-wrapper{
    position: relative;

}

.password-input {
    padding-right: 14%;

}

.visibility-icon {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
}

.input-label {
    position: absolute;
    padding: 0 2% 0 1%;
    top: -10%;
    left: 5%;
    font-size: 0.6rem;
    background-color: var(--bg-login);
}
