.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-tertiary);
    background-color: var(--bg-login);
    width: 30%;
    aspect-ratio: 1 / 1.08;
    border-radius: 0.5rem;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
}

#login-form {
    display: contents;
}

.login-container::-webkit-scrollbar {
    display: none;
}

.login-title {
    color: var(--text-tertiary);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.login-disclaimer {
    text-align: center;
    font-size: 0.8rem;
}

.forgot-password-link {
    text-align: right;
    font-size: 0.8rem;
    text-decoration: none;
}

.login-button {
    background-color: var(--login-signup-primary);
    height: 8%;
}

#login-link {
    color: var(--text-primary); 
    text-decoration: none;
    width: 100%;
    height: 100%;   
    display: inline-block;
    align-content: center;
}

.register-button { 
    background-color: transparent;
    color: var(--login-signup-primary);
}

.input-wrapper{
    position: relative;

}

.password-input {
    padding-right: 14%;

}

#visibility-icon {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
}

.input-label {
    position: absolute;
    padding: 0 2% 0 1%;
    top: -10%;
    left: 5%;
    font-size: 0.6rem;
    background-color: var(--bg-login);
}
