.post-composer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    height: 7.4rem;
    background-color: var(--bg-surface);
    border: 1.5px solid var(--border-color);
    border-radius: 1rem;
    margin: 0.4rem;
}

.post-input {
    flex: 100%;
    padding: 0.4rem;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}

.post-input:focus {
    outline: none;
    caret-color: var(--highlight-primary);
}

.composer-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.composer-button {
    background-color: transparent;
    border: none;
}

.composer-icons-container {
    display: flex;
}

.submit-post {
    height: 2.6rem;
    width: 6.4rem;
    color: var(--text-tertiary);
    font-weight: 600;
    background-color: var(--highlight-primary);
    border: none;
    border-radius: 0.75rem;
}

@media screen and (max-width: 950px) and (orientation: portrait) {
    .post-composer {
        min-height: 6.25rem;
        height: 100%;
        padding: 0 1rem 0.3rem 0.3rem;
        border-radius: 0.8rem;
    }

    .submit-post {
        width: 4.7rem;
        height: 1.9rem;
        border-radius: 0.65rem;
    }

    .post-input {
        field-sizing: content;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

}