.post {
    display: flex;
    align-items: center;
    background-color: var(--bg-surface);
    border: 1.5px solid var(--border-color);
    margin: 0.4rem;
    border-radius: 1rem;
    padding: 2.45rem 6.15rem 0.4rem 6.15rem;
}

.post-media {
    width: 100%;
    min-width: 10rem;
}

.post-avatar {
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--img-placeholder);
    border-radius: 100%;
}

.action-button {
    background-color: transparent;
    border: none;
}

.action-icon {
    width: 2rem;
}

.post-midbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-user-info {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.post-username {
    font-weight: 400;
}

@media screen and (max-width: 950px) and (orientation: portrait) {

    .post {
        padding: 2rem 2.9rem 2rem 2.9rem;
        height: auto;
    }

    .action-icon {
        width: 1.56rem;
    }

    .action-button {
        width: 1.56rem;
        margin: 0;
    }

    .post-user-info {
        column-gap: 0;
    }

    .post-avatar {
        width: 1.87rem;
        height: 1.87rem;
    }

    .post-username {
        font-size: 0.875rem;
    }

    .post-text {
        font-weight: 400;
        font-size: 1rem;
    }

    .post-midbar {
        height: 2rem;
    }
}