.search-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 50vw;
    height: 5vh;
    background-color: var(--bg-search-bar);
    border-radius: 1rem;
}

.search-container:focus-within {
    border: solid 2px var(--highlight-primary);
}

.search-bar {
    width: 46vw;
    height: 4vh;
    background-color: transparent;
    border: none;
}

.search-bar:focus {
    outline: none;
    caret-color: var(--highlight-primary);
    
}

.search-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 2vw;
    height: 4vh;
    background-color: transparent;
    border: none;
}

.search-icon {
    width: 2vw;
    height: 3.5vh;
    margin-right: 1vw;
}