.search-container {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 100%; 
    height: 2rem;
    background-color: var(--bg-search-bar);
    border-radius: 1rem;
    
}

.search-container:focus-within {
    border: solid 2px var(--highlight-primary);
}

.search-bar {
    width: 100%;
    height: 1.5rem;
    border: none;
    background-color: transparent;
}

.search-bar:focus {
    outline: none;
    caret-color: var(--highlight-primary);
    
}

.search-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 1.5rem;
    height: 1.45rem;
    background-color: transparent;
    border: none;
}

.search-icon {
    width: 2rem;
    height: 1.3rem;
    margin-right: 0.8rem;
}

@media screen and (max-width: 950px) and (orientation: portrait) {
    .search-bar {
        width: 80%;
    }

    .search-container {
        width: 68%;
        box-sizing: border-box;
    }
}