.suggestions-box {
    width: 16.8rem;
    margin: 0 auto;
}
.suggestion-user-info {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    margin: 0.84rem 0 0.84rem 0;
}

.suggestion-avatar {
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--img-placeholder);
    border-radius: 100%;
}

.suggestion-username {
    font-weight: 400;
    margin: 0;
}

.suggestion-add-btn {
    margin-left: auto;
    border: none;
    height: 1.85rem;
    color: var(--highlight-primary);
    background-color: var(--highlight-secondary);
    border-radius: 0.75rem;
}

.suggestion-title-web {
    display: block;
    margin: 0 0 0.8rem 0;
    font-weight: 400;
}

.suggestion-title-mobile {
    display: none;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .suggestion-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 0.5rem;
        overflow-y: auto;
        margin: 0;
        height: 5rem;
    }

    .suggestion-avatar {
        width: 3.125rem;
        height: 3.125rem;
    }
    
    .suggestions-box {
        width: 90%;
        height: 7.5rem;
    }

    .suggestion-user-info {
        flex-direction: column;
        row-gap: 0.4rem;
        margin: 0;
    }

    .suggestion-add-btn {
        display: none;
    }

    .suggestion-title-web {
        display: none;
    }

    .suggestion-title-mobile {
        display: block;
        margin: 0 0 0.8rem 0;
        font-weight: 400;
        font-size: 1.5rem;
    }

}