body {
    height: 100%;
    margin: 0;
}

.layout{
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
    grid-template-columns: 12.5vw 1fr 35vw;

}

header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 12.5vw 1fr 35vw;
    position: sticky;
    top: 0;
    background-color: black;
    grid-area: header;
    height: 10vh;
}

.sidebar-left {
    position: sticky;
    background-color: red;
    grid-area: sidebar-left;
    height: 90vh;
    top: 10vh;
}

.sidebar-right {
    position: sticky;
    background-color: red;
    grid-area: sidebar-right;
    height: 90vh;
    top: 10vh;
}

main {
    grid-area: main;
    height: 200vh;
    background-color: blueviolet;
}

.feed {
    display: flex;
    flex-direction: column;
    
}

#logo-icon {
    justify-self: center;
}