body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-body);
}

.layout{
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
    grid-template-columns: 12.5vw 1fr 35vw;

}

header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 12.5vw 1fr 35vw;
    position: sticky;
    top: 0;
    background-color: var(--bg-header);
    grid-area: header;
    height: 13vh;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20%;
    row-gap: 3%;
}

.nav-icon {
    width: 3vw;
}

.sidebar-left {
    position: fixed;
    background-color: var(--bg-surface);
    grid-area: sidebar-left;
    height: 85vh;
    width: 12.5vw;
    top: 15vh;
    left: 0;
    padding-top: 4vh;
    box-sizing: border-box;
}

.sidebar-right {
    position: fixed;
    background-color: var(--bg-surface);
    grid-area: sidebar-right;
    width: 35vw;
    height: 85vh;
    top: 15vh;
    right: 0;
    box-sizing: border-box;
}

main {
    grid-area: main;
    height: 200vh;
    background-color: var(--bg-surface);
    margin-top: 3%;
}

.feed {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    margin-top: 3vh;
}

#logo-icon {
    justify-self: self-start;
    width: 4.5vw;
    box-sizing: border-box;
    padding: 2%;
    margin-left: 2vw;
}