body {
    background-color: var(--bg-body);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.login-layout {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15%;
}

.logo-container {
    width: 15%;
}

.logo-img {
    width: 100%;
}

input {
    height: 2.5rem;
    padding: 1% 3% 1% 3%;
    box-sizing: border-box;
    font-size: 0.6rem; 
    color: var(--text-tertiary);
    border: solid 0.06rem var(--highlight-secondary);
    border-radius: 0.4rem;
    width: 100%;
}

button {
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
}

a {
    color: var(--login-signup-primary);
}
