body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg-body);
}

.layout{
    display: grid;
    min-height: 100vh;
    max-width: 100%;
    justify-content: center;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
    grid-template-columns: 10rem 41rem 28rem;

}

header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10rem 41rem 28rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-header);
    grid-area: header;
    width: 100%;
    height: 5rem;
    z-index: 1;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2rem;
    row-gap: 1rem;
}

.nav-icon {
    width: 2.4rem;
}

.sidebar-left {
    position: relative;
    grid-area: sidebar-left;
    height: 17rem;
    width: 10rem;
    left: 0;
    padding-top: 1.3rem;
    box-sizing: border-box;
}

.sidebar-right {
    position: relative;
    grid-area: sidebar-right;
    width: 28rem;
    height: 35rem;
    right: 0;
    padding-top: 1.3rem;
    box-sizing: border-box;
}

main {
    justify-content: center;
    width: 100%;
    grid-area: main;
    background-color: var(--bg-surface);
    margin-top: 1.2rem;
}

.feed {
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    overflow: scroll;
}

#logo-icon {
    justify-self: self-start;
    width: 3.6rem;
    box-sizing: border-box;
    padding: 0.2rem;
    margin-left: 1.6rem;
}

@media screen and (max-width: 950px) and (orientation: portrait) {

    header {
        width: 100%;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        order: 1;
        box-sizing: border-box;
    }

    main {
        height: auto;
        width: 100%;
        order: 3;
        margin-top: 1rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin-bottom: 5rem;
        box-sizing: border-box;
    }

    .feed {
        width: 100%;
        min-width: auto;
    }

    .sidebar-left {
        position: fixed;
        left: auto;
        top: auto;
        bottom: 0;
        width: 100%;
        height: 4.8rem;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--bg-nav);
        order: 4;
    }

    .sidebar-right {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        height: 20%;
        padding-top: 0.5rem;
        order: 2;
        box-sizing: border-box;
    }

    .layout{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }

    #logo-icon {
        margin-left: 1rem;
    }

}