body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg-body);
}

.layout{
    display: grid;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
    grid-template-columns: 10rem 41rem 28rem;

}

header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10rem 41rem 28rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-header);
    grid-area: header;
    width: 100%;
    height: 5rem;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2rem;
    row-gap: 1rem;
}

.nav-icon {
    width: 2.4rem;
}

.sidebar-left {
    position: sticky;
    background-color: var(--bg-surface);
    grid-area: sidebar-left;
    height: 17rem;
    width: 10rem;
    top: 5rem;
    left: 0;
    padding-top: 1.3rem;
    box-sizing: border-box;
}

.sidebar-right {
    position: sticky;
    background-color: var(--bg-surface);
    grid-area: sidebar-right;
    width: 28rem;
    height: 35rem;
    top: 5rem;
    right: 0;
    padding-top: 1.3rem;
    box-sizing: border-box;
}

main {
    justify-content: center;
    width: 41rem;
    grid-area: main;
    height: 200vh;
    background-color: var(--bg-surface);
    margin-top: 1.2rem;
}

.feed {
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
}

#logo-icon {
    justify-self: self-start;
    width: 3.6rem;
    box-sizing: border-box;
    padding: 0.2rem;
    margin-left: 1.6rem;
}

@media screen and (max-width: 480px) and (orientation: portrait) {

}